# core
torch==2.2.2
transformers==4.40.0
accelerate==0.27.2
bitsandbytes==0.42.0
peft==0.10.0
datasets==2.18.0
evaluate==0.4.1

# tokenization & augmentation
sacremoses==0.0.53
deep-translator==1.11.4

# data handling & utils
pandas==2.2.2
scikit-learn==1.4.2
tqdm==4.66.2

# logging & monitoring
tensorboard==2.16.2
huggingface-hub==0.22.2
streamlit==1.32.2
plotly==5.20.0